<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 animated jello">High Scores</h1>
    <div>	
	{{#each scores}}
		<p>Score: {{total_score}} by User: {{user_id}}</p>
	{{/each}}
</div>
  </div>
</div>
