<div class="jumbotron text-center">
  <h1 class ="animated fadeInDown">Speed Math Quiz!</h1>
  <div>Time Left for Question: <span id="time"></span> seconds</div> 
</div>
<div id="container">

	<div id="displayQuestion"></div>
</div>
<br></br>
<div class="well well-sm">Score: <span id="score"></span></div>
