<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 animated bounce">Welcome</h1>
    <p class="lead animated shake">Register or Sign in to play!</p>
  </div>
</div>	